<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Meet the Ellery's!
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/justin">Justin</a></li>
            <li><a href="/allan">Allan</a></li>
            <li><a href="/wendy">Wendy</a></li>
        </ul>
      
    </div>
</nav>