<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <header>
        <% include ../views/shared/header %>
    </header>
      <main style="padding-top:50px;">
        <div class="jumbotron">
            <h1 class="text-center"><%= title %></h1>
            <p style="padding-top:50px;"><%= name %> is the father of Justin and the wife of Wendy. Allan has been a mechanic most
            of his life and is notoriously good with vehicles! <%= name %> is a Leafs fan, if that didn't make you laugh
            I'm not sure what will.</p>
        </div>
    </main>
    <footer>
        <% include ../views/shared/footer %>
    </footer>
  </body>
</html>
