<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <header>
        <% include ../views/shared/header %>
    </header>
      <main style="padding-top:50px;">
        <div class="jumbotron">
            <h1 class="text-center"><%= title %></h1>
        </div>
    </main>
    <footer>
        <% include ../views/shared/footer %>
    </footer>
  </body>
</html>
